bin/*
*.swp
*.swo
*.cfg
conf/*
!conf/*.inc
!conf/mig-agent-installer.wxs
src/mig/agent/configuration.go
src/mig/*/available_modules.go
src/mig/*/*/available_modules.go
src/mig/*/*/*/available_modules.go
!conf/available_modules.go
*.a
*.so
*.o
src/*
!src/mig
*.rpm
*.deb
packages/
tmp/
