bin/*
*.swp
*.swo
conf/*
!conf/*.inc
conf/*custom.go.inc
!conf/mig-agent-installer.wxs
mig-agent/configuration.go
*/available_modules.go
*/*/available_modules.go
*/*/*/available_modules.go
!conf/available_modules.go
*.a
*.so
*.o
*.rpm
*.deb
packages/
tmp/
.builddir/
workers/*/*.html
modules/*/*.html
tools/vagrant/.vagrant
