[agent]
    ; connection string to the MIG relay. must contain credentials.
    relay            = "{{.RelayAddress}}"

    ; location of the mig api
    api             = "{{.APIURL}}"

    proxies         = "{{.Proxies}}"

    ; location of the local stat socket
    socket           = "127.0.0.1:{{.StatSocketPort}}"

    ; frequency at which heartbeat messages are sent to the MIG relay
    heartbeatfreq    = "120s"

    ; timeout after which a module that has not finished is killed by the agent
    moduletimeout    = "300s"

    ; in immortal mode, the agent that encounter a fatal error
    ; will attempt to restart itself instead of just shutting down
    isimmortal       = {{.Immortal}}

    ; installservice orders the agent to deploy a service init configuration
    ; and start itself during the endpoint's boot process
    installservice   = {{.InstallAsService}}

    ; attempt to retrieve the public IP behind which the agent is running
    discoverpublicip = on

    ; in check-in mode, the agent connects to the relay, runs all pending commands
    ; and exits. this mode is used to run the agent as a cron job, not a daemon.
    checkin = {{.CronMode}}

    refreshenv = "5m"

    ; enable privacy mode
    extraprivacymode = {{.ExtraPrivacy}}

[stats]
    maxactions = 15

[certs]
    ca  = "/etc/mig/ca.crt"
    cert = "/etc/mig/agent.crt"
    key = "/etc/mig/agent.key"

[logging]
    mode    = "file" ; stdout | file | syslog
    level   = "debug"
    file    = "/var/log/mig-agent.log"
    maxfilesize = 10485760
